body {
    background-color: #03010d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30%;
    color: #FFF;
}

.container {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 10px;
}

input {
    height: 25px;
    width: 350px;
    border: 1px solid #028881;
    border-radius: 3px;

}

button {
    width: 200px;
    height: 30px;
    border: 1px solid #028881;
    border-radius: 3px;
    color: #FFF;
    background-color: #050317;
    box-shadow: 2px 3px solid #028881;
}